* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  min-height: 2.5em;
  font-weight: 700;
}

window#waybar {
  background: #111111;
  color: #aaa;
}

#workspaces button {
    color: #444;
    min-height: 0;
    border-radius: 0;
    padding: 0;
    margin: 0 2px;
}

#workspaces button.active {
    color: #888;
    /* color: #e5c07b; */
}

.modules-left,
.modules-right {
  border-bottom: 2px solid #cdd6f4;
}

.modules-right {
  margin: 0 0.5em;
}

.modules-right * {
  margin: 0 0.5rem;
}

.modules-center {
  border-bottom: 2px solid #D3869B;
}

.modules-center * {
  border-bottom: none;
}

#clock.date,
#clock.time {
  color: #777;
}

#custom-divider {
  padding: 0 0.5em;
}

#bluetooth {
  font-size: 16px;
}
