#window {
    border-radius: 0;
}

#outer-box {
    background-color: rgb(30, 30, 46);
}

#input {
    margin: 10px 8px 4px;
    font-weight: bold;
    background-color: rgb(49, 50, 68);
    /* border-radius: 25px; */
    border-radius: 0;
    border-color: rgb(24, 24, 37);
    border-style: solid;
    border-width: 0 2px 2px 0;
}

#inner-box {
    margin: 6px;
}

#img {
    padding: 0 10px 0 5px;
}

* {
    font-family: Iosevka Nerd Font;
    color: rgb(205, 214, 244);
    /* font-size: 16px; */
}

#entry {
    border-radius: 0;
}

* {
    outline-width: 0;
}

#entry:selected {
    background-color: transparent;
}

#text:selected {
    font-weight: bold;
    color: rgb(148, 226, 213);
}

arrow {
    color: rgb(180, 190, 254);
}

list {
    background-color: transparent;
}
    
row {
    margin: 4px 4px 0;
    padding: 5px 20px;
}

box > .drun-generic-name {
    font-style: italic;
}
